<!-- only loged users can add a new post -->
<div class="btn-comment">
  <button
    class="btn btn-primary"
    id="btn-new-post"
    type="button"
    name="button"
  >+ New Post</button>
</div>

<section class="post-new-box" id="create-new-post" style="display: none;">
  <section class="post-new-header">Create New Post</section>
  <section class="posts-new-body">
    <input
      class="posts-new-title"
      type="text"
      id="posts-new-title"
      placeholder="Title"
    />
    <input class="new-body" type="text" id="new-body" placeholder="Content" />

    <div class="btn-new-post">
      <button
        class="btn btn-primary"
        id="btn-add-new-post"
        type="button"
        name="button"
      >Create</button>
    </div>
  </section>
</section>

<script src="./js/dashboard.js"></script>