:root {
  --primary: #5a7c74;
  --secondary: #7f9b93;
  --tertiary: #779b94;
  --quatrinary: #666560;
  --light: #e3e4e3;
  --dark: #182c23;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background-color: var(--quatrinary);
}

a {
  color: var(--dark);
  text-decoration: none;
}

a:visited {
  color: inherit;
}

header {
  padding: 40px;
  text-align: center;
  background: var(--primary);
  color: var(--light);
}

main {
  display: flex;
  height: 100vh;
  flex-grow: 1;
  background-color: #fff;
}

nav {
  display: flex;
  background-color: var(--secondary);
}

nav a {
  color: var(--light);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  color: var(--secondary);
  background-color: var(--dark);
}

.main-content {
  flex: 4;
  padding: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

}

.posts-box {
  border: 2px solid var(--secondary);
  border-radius: var(--border-radius);
  justify-content: center;
  width: 70%;
  height: 100px;
  margin: 10px;
}

.posts-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--light);
  background-color: var(--tertiary);
  padding: 5px;
  margin: 0 0 10px 0;
  width: 100%;
  height: 40px;
}

.posts-title {
  margin-right: 10px;
  font-size: 18px;
}

.posts-data-name {
  margin-left: 10px;
  font-size: 14px;
}

.posts-body {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  font-size: 12px;
  width: 100%;
  height: 40px;
}

.login-card {
  margin: 0 0 20px 0;
  padding: 5px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  border-style: double;
  border-width: thick;
  background-color: var(--secondary);
  color: var(--light);
}

.signup-link {
  display: flex;
  padding: 20px 0 0 0;
  font-weight: bold;
  font-size: 20px;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  margin-left: 10px;
}

.comment-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--secondary);
  border-radius: var(--border-radius);
  width: 70%;
  height: 100px;
  margin: 10px;
  padding: 10px;
}

.comment {
  display: flex;
  justify-content: space-around;
  width: 90%;
  padding: 10px;
}

textarea {
  width: 100%;
  resize: none;
}

.newCommentDisplay {
  border: 2px solid var(--secondary);
  border-radius: var(--border-radius);
  justify-content: center;
  width: 70%;
  height: 100px;
  margin: 10px;
  padding: 10px;
}

.post-new-box {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--secondary);
  border-radius: var(--border-radius);
  width: 70%;
  height: 230px;
}

.post-new-header {
  color: var(--light);
  background-color: var(--tertiary);
  padding: 5px;
  margin: 0 0 10px 0;
  /* width: 100%;
  height: 40px; */
}

.posts-new-body {
  display: flex;
  flex-direction: column;
  /* padding: 10px; */
  font-size: 15px;
}

.posts-new-title {
  display: flex;
  font-size: 15px;
}

.posts-new-title {
  margin: 5px;
}

.new-body {
  height: 100px;
  margin: 5px;

}

.btn-new-post {
  margin: 5px;
  display: flex;
  justify-content: center;
}